div, td, th { color: black; }
body{background:  url('../img/brillant.png');
margin-top:100px;margin-bottom:100px; }

.star{height:30px; margin-top:5px; float:right; margin-right:30px;}
.navbar a.brand{margin-left:30px; /*font-weight:bold; color:#ccc; font-size:30px;*/}
#search{margin-top:7px; opacity:0.3; width:150px; -webkit-transition:all 0.2s; }
#search:hover{opacity:0.5; }
#search:focus{opacity:1; width:200px; }


#zoom_level{margin:15px 40px;}

.btn i{margin-right:7px;}
.viewmode{margin-right:20px;}


.grid #bookmarks ul ul ul >li{float:left; height:200px; width:20%; background:#ccc; margin:3px; }

.grid #bookmarks ul ul ul >li:hover{background:#ddd; }

body.grid.zoom2 #bookmarks ul ul ul >li{width:50%;}
body.grid.zoom3 #bookmarks ul ul ul >li{width:33%;}
body.grid.zoom4 #bookmarks ul ul ul >li{width:25%;}
body.grid.zoom5 #bookmarks ul ul ul >li{width:20%;}
body.grid.zoom6 #bookmarks ul ul ul >li{width:16.6%;}
body.grid.zoom7 #bookmarks ul ul ul >li{width:24%;}
body.grid.zoom8 #bookmarks ul ul ul >li{width:12.5%;}
body.grid.zoom9 #bookmarks ul ul ul >li{width:11.1%;}
body.grid.zoom10 #bookmarks ul ul ul >li{width:10%;}