<div class="btn-group viewmode" data-toggle="buttons-radio">
	<button type="button" class="btn grid js-changemode" data-mode="grid">
		<i class="icon-th-large"></i>
		Grid
	</button>
	<button type="button" class="btn list js-changemode" data-mode="list">
		<i class="icon-th-list"></i>
		List
	</button>
</div>