<div class="navbar-inner">
	<div class="copyright">
		<a href="http://iplanwebsites.com">
			Made with ♥ by THIN
		</a>
	</div>
	
	<div class="alert alert-info html-download span5 pull-left hide">
		<button type="button" class="close stop" >×</a>
		<div class="progress progress-striped active download">
			<div class="bar" style="width: 1%;"></div>
		</div>
		Indexing websites for full text search ~ <strong>count</strong>
	</div>
	
	<div class="alert alert-success html-download-complete span5 pull-left hide">
		<i class="icon-ok"></i><strong>count</strong> pages indexed!
		<button type="button" class="close" data-dismiss="alert">×</button>
	</div>
</div>
