<div class="navbar top navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<a href="#" class="js-clear-search starlogo tip pull-right" rel="tooltip" data-placement="left" data-original-title="All Bookmarks">
			<img src="../assets/img/logo2.png" >
		</a>
	</div>
</div>
