<div class="navbar top navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		
		<a href="#" class="js-clear-search starlogo tip" rel="tooltip" data-placement="left" data-original-title="All Bookmarks">
			<img src="../img/logo2.png" >
		</a>

		<ul class="nav pull-right dropdown-section">
			
		</ul>
	</div>
</div>
