<li class="options">
	<a class="dropdown-toggle tip" data-toggle="dropdown" href="#" rel="tooltip" data-placement="bottom" data-original-title="Add source">
		<img src="../assets/img/white/19-gear@2x.png" class="cog">
	</a>

	<ul class="dropdown-menu options_menu">
	
		<li class="all_bookmarks">
			<a href="#options">
				<i class="icon-home"></i> Stats (former option page)
			</a>
		</li>
		
		<li class="divider"></li>
		<li class="all_bookmarks">
			<a href="#" class="js-clear-search">
				<i class="icon-home"></i> View all
			</a>
		</li>
		
		<li class="divider"></li>
		<li>
			<a href="#twitter_modal" role="button" class="btn2" data-toggle="modal" class="bt_modal222">
				<i class="icon-star"></i> Add Twitter
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-retweet"></i> Add Facebook
			</a>
		</li>
		<li>
			<a href="" class="js-add-delicious">
				<i class="icon-th-large"></i> Add Delicious
			</a>
		</li>
		<li>
			<a href="" >
				<i class="icon-th-large"></i> Add Pinboard
			</a>
		</li>
		
		<li class="divider"></li>
		<li>
			<a href="#">
				<i class="icon-info"></i> About... (modal)
			</a>
		</li>
		
	</ul>
</li>
