<div class="input-append search_form">
	<input id="search"  type="search" placeholder="Search">
	<button class="btn btn-success" type="button">
		<i class="icon-search icon-white"></i>
	</button>
</div>