<li class="single-bookmark">
	<a href="{{url}}" class="single-bookmark-inner">
		<div class="icon">
			<img src="chrome://favicon/{{url}}" width=16 height=16 class="favicon" />
		</div>
		<div class="meta">
			<h2 class="bookmark-title">
				{{title}}
			</h2>
			<h3 class="bookmark-domain">
				{{domain}}
			</h3>
		</div>
	</a>
</li>
