* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: url('../img/brillant.png');
	padding: 47px 0 40px;
	width: 400px;
}

/* Application Header */
.app-header .starlogo {
	display: block;
	height: 45px;
	width: 80px;
}
.app-header .search-form {
	padding: 8px 10px;
}

/* Application Main */
.app-stage {
	height: 460px;
}
.app-stage-inner {
	height: 460px;
}
.app-bookmarks {
	padding: 0;
	margin: 0;
}
.single-bookmark {
	list-style: none;
	padding: 0;
	margin: 0;
}
.single-bookmark-inner {
	display: block;
	color: #000;
	padding: 10px 15px 10px 5px;
}
.single-bookmark-inner:hover,
.single-bookmark-inner:focus,
.single-bookmark-inner:active,
.js-focus .single-bookmark-inner {
	color: #000;
	text-decoration: none;
	background: rgba(0, 135, 204, 0.2);
	outline: none;
}
.single-bookmark .icon,
.single-bookmark .meta {
	display: table-cell;
	vertical-align: middle;
}
.single-bookmark .icon {
	width: 30px;
	text-align: center;
}
.single-bookmark .favicon {
	margin-right: 5px;
}
.single-bookmark .bookmark-title {
	margin: 0;
	font-size: 1.1em;
	line-height: 1.1;
}
.single-bookmark .bookmark-domain {
	margin: 0;
	font-size: 0.9em;
	font-weight: normal;
	font-style: italic;
	line-height: 1;
}


/* Application footer */
.app-footer .navbar-inner {
	padding: 0 5px;
}
.app-footer .copyright {
	line-height: 40px;
}
