<li class="dropdown categories_drop">
	<a class="dropdown-toggle tip" data-toggle="dropdown"   href="#"  rel="tooltip" data-placement="bottom" data-original-title="Select Folder">
		<img src="../img/white/33-cabinet@2x.png" class="folder">
	</a>
	
	<div class="dropdown-menu category">
		<div class="general-options">
			<a href="#" class="js-clear-search">
				<i class="icon-home"></i> View all
			</a>
		</div>

	</ul>
	</div>
</li>
