<div class="navbar top navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
		
		<a href="#" class="clearSearch starlogo tip"  rel="tooltip" data-placement="left" data-original-title="All Bookmarks">
			<img src="../img/logo2.png" >
		</a>
		<ul class="nav pull-left">
			<li class="js-search-bar">
				
			</li>
		</ul>
		<ul class="nav pull-right">
			<li class="dropdown categories_drop">
				<a class="dropdown-toggle tip" data-toggle="dropdown"   href="#"  rel="tooltip" data-placement="bottom" data-original-title="Select Folder">
					<img src="../img/white/33-cabinet@2x.png" class="folder">
				</a>
				
				<ul class="dropdown-menu category">
					<li class="all_bookmarks">
						<a href="#">
							<i class="icon-home"></i> View all
						</a>
					</li>
					
					<li class="divider"></li>
					<div class="folders">
						<li>
							<a href="#">
								<i class="icon-folder-close"></i> My folder
							</a>
						</li>
					</div>
					
					<li class="divider"></li>
					<div class="sources">
						<li>
							<a href="#source/chrome" class="type_chrome">
								<i class="icon-star"></i> Browser Bookmarks
							</a>
						</li>
						<li>
							<a href="#source/twitter" class="type_chrome">
								<i class="icon-retweet"></i> Twitter
							</a>
						</li>
						<li>
							<a href="#source/delicious" class="type_chrome">
								<i class="icon-th-large"></i> Delicious
							</a>
						</li>
					</div>
					
					<li class="divider"></li>
					<div class="sites">
						<li><a href="#"><i class="icon-globe"></i>github.com</a></li>
						<li><a href="#"><i class="icon-globe"></i>test</a></li>
						<li><a href="#"><i class="icon-globe"></i>test</a></li>
					</div>
				</ul>
			</li>
			
			<li class="options">
				<a class="dropdown-toggle tip" data-toggle="dropdown" href="#" rel="tooltip" data-placement="bottom" data-original-title="Add source">
					<img src="../img/white/19-gear@2x.png" class="cog">
				</a>
               
				<ul class="dropdown-menu options_menu">
				
					<li class="all_bookmarks">
						<a href="#option">
							<i class="icon-home"></i> Stats (former option page)
						</a>
					</li>
					
					<li class="divider"></li>
					<li class="all_bookmarks">
						<a href="#">
							<i class="icon-home"></i> View all
						</a>
					</li>
					
					<li class="divider"></li>
					<li>
						<a href="#twitter_modal" role="button" class="btn2" data-toggle="modal" class="bt_modal222">
							<i class="icon-star"></i> Add Twitter
						</a>
					</li>
					<li>
						<a href="" >
							<i class="icon-retweet"></i> Add Facebook
						</a>
					</li>
					<li>
						<a href="" >
							<i class="icon-th-large"></i> Add Delicious
						</a>
					</li>
					<li>
						<a href="" >
							<i class="icon-th-large"></i> Add Pinboard
						</a>
					</li>
					
					<li class="divider"></li>
					<li>
						<a href="#">
							<i class="icon-trash"></i> Delete all bookmarks
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-info"></i> About... (modal)
						</a>
					</li>
					
				</ul>
            </li>
		</ul>
	  
		<div class="content_types pull-right"></div>
    </div>
</div>